*{
    box-sizing: border-box;
    p:first-child{
    font-family: 'PT Sans Narrow';
}
    
}

.card_reviews {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 300px auto;
    max-width: 700px;
}

.container {
    text-align: center;
    hyphens: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 50px;
}

.card_items{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_name {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    font-weight: 700;
}

.button {
    background-image: url(/src/icon/icon-right-arrow.png);
    
}